<div class="container-fluid flex-column bg-ctn">

  <h1 class="pt-5 text-center color-text">Revisa la temperatura de tu ciudad</h1>

  <div class="container-fluid d-flex flex-wrap justify-content-center">
    
    <div class="card m-5" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-body">Busca una ciudad</h5>
      <form (submit)="submitLocation(cityName, countryName)">
        <div class="form-group">
          <input class="form-control mt-2" placeholder="Escribe el nombre de la ciudad" type="text" #cityName>
        </div>
        <div class="form-group">
          <input class="form-control mt-3" placeholder="Escribe el nombre del país" type="text" #countryName>
        </div>
          <button type="submit" class="btn btn-primary mt-3 btn-color">Buscar</button>
      </form>
      </div>
    </div>
  
    <div class="card m-5" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-body">Selecciona una ciudad</h5>
        <select class="form-control mt-2">
          <option #cityName>Santiago, Chile</option>
          <option #cityName>Nueva York, Estados Unidos</option>
          <option #cityName>Caracas, Venezuela</option>
          <option #cityName>Buenos Aires, Argentina</option>
        </select>
        <button type="button" class="btn btn-primary mt-3 btn-color">Enviar</button>
      </div>

    </div>
    <div *ngIf="weather" class="card m-5  text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-text">Ciudad: {{weather.location.name}}</h5>
        <h5 class="card-text">País: {{weather.location.country}} </h5>
        <h5 class="card-text">Temperatura: {{weather.current.temperature}}°C </h5>
      </div>
    </div>
  </div>

</div>