<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">¿Qué ciudad quieres consultar?</h1>
      <select class="form-control mt-5" id="exampleFormControlSelect1">
        <option>Santiago, Chile</option>
        <option>Nueva York, Estados Unidos</option>
        <option>Caracas, Venezuela</option>
        <option>Buenos Aires, Argentina</option>
      </select>
    </div>
  </div>


  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">La temperatura es de </h1>
      
    </div>
  </div>